Markdown==2.6.9
Pygments==2.2.0
Werkzeug==0.12.2
argparse==1.2.1
backports.weakref==1.0rc1
bleach==1.5.0
blessings==1.6
bpython==0.16
certifi==2017.7.27.1
chardet==3.0.4
curtsies==0.2.11
funcsigs==1.0.2
greenlet==0.4.12
html5lib==0.9999999
idna==2.6
mock==2.0.0
numpy==1.13.1
pbr==3.1.1
protobuf==3.4.0
py==1.10.0
pytest==3.2.2
requests==2.18.4
six==1.10.0
tensorflow==1.3.0
tensorflow-tensorboard==0.1.6
urllib3==1.22
wcwidth==0.1.7
wheel==0.30.0
wsgiref==0.1.2
